* {
  margin: 0px 0px 10px 0px;
}

header {
  text-align: center;
  background-color: #EEAED0;
  padding-top: 35px;
  padding-bottom: 10px;
  width: auto;
  border-bottom: #eed1a2 10px solid;
}

header p {
  padding-top: 10px;
  font-size: 19px;

}

h1 {
  font-size: 35px;
  font-family: "Lucida Handwriting", cursive, serif;
}

#timer {
  padding-left: 50px;
  padding-top: 10px;
  font-size: 30px;

}

#home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  padding: 70px;
}

#home {
  font-size: 30px;
  color: rgb(0, 0, 0);
  font-weight: 300;
  padding: 20px;
  padding-left: 0;
  padding-right: 0;
  display:flex;
  justify-content:center ;
  background-color: #b382c4;
  margin: 40px 300px;
  border-radius: 10px;

}

#home:hover {
  background-color: #88529a;
}

#answer-validation {
  font-size: 30px;
  color: rgb(0, 0, 0);
  font-weight: 300;
  border-top: #000000 solid 2px;
  width: 50%; 
  margin-left: 450px;
  text-align: center;
  padding: 20px;
}

.button {
  color: rgb(104, 104, 104);
  background-color: #d7e9ff;
  border: 2px #000000 solid;
  border-radius: 10px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-left: 40px; 
  padding-right: 40px;
  margin: 20px;
}

div {
  padding: 20px;
}

h2 {
  text-align: center;
  font-size: 28px;
}

button {
  display: block;
  position: relative;
  font-size: 19px;
  color: black;
  font-weight: 500;
  padding: 10px;
  padding-right: 400px; 
  background-color: #d7e9ff;
  border-radius: 10px;
  line-height: 25px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(108, 223, 255);
}

.choices-container {
  display: flex;
  width: 100%;
  justify-content: center;
  
}
#scores-container {
  display: flex;
  justify-content: center;

}

#high-scores {
  position: relative;
  font-size: 40px;
  color: rgb(0, 0, 0);
  font-weight: 300;
  margin-top: 100px;
  padding: 20px 200px 300px 200px;
  background-color: #b382c4;
  border-radius: 10px;
}

#user-initials {
  position: absolute;
  background-color: #c8c8c8;
  text-align: center;
  font-size: 30px;
  border: #bb5c85 solid 4px;
  margin: 20px;
}

footer {
  margin-top: 30px;
  margin-bottom: 0;;
  max-width: 100%;
  border-bottom: #aa1746 100px solid;
  height: 100%;

}