* {
  margin: 0px 0px 10px 0px;
}

header {
  text-align: center;
  background-color: #EEAED0;
  padding-top: 35px;
  padding-bottom: 10px;
  width: auto;
  border-bottom: #eed1a2 10px solid;
}

header p {
  padding-top: 10px;
  font-size: 19px;

}

h1 {
  font-size: 35px;
  font-family: "Lucida Handwriting", cursive, serif;
}

#home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  padding: 70px;
}

.button {
  color: rgb(104, 104, 104);
  background-color: #d7e9ff;
  border: 2px #000000 solid;
  border-radius: 10px;
  display: block;
  text-decoration: none;
  padding: 20px;
  padding-left: 40px; 
  padding-right: 40px;
  margin: 20px;
}

#timer {
  padding-left: 50px;
  padding-top: 10px;
  font-size: 30px;

}

div {
  padding: 20px;
  margin: 10px 300px 10px 300px;
}

h2 {
  text-align: left;
  font-size: 28px;
  padding-left: 45px;
}

.answer {
  position: relative;
  border-top: 5px #913580 solid;
  font-size: 25px;
  padding-top: 10px;
}
.answer-selection {
  color: black;
  font-weight: 640;
  padding: 10px;
  padding-right: 500px;
  background-color: #d7e9ff;
  border-radius: 10px;
  line-height: 25px;
}

.answer-selection:hover {
  cursor: pointer;
  background-color: #02a1cf;
}

footer {
  margin-top: 30px;
  max-width: 100%;
  border-bottom: #aa1746 20px solid;

}